/*html, body {
	background-image: url('bgimage.jpg');
	background-position: right top;
	background-size: cover;
}*/

/*.container {
	width: 450px;
	margin: 0 auto;
}*/

.form-inline {
	margin-bottom: 20px;
}
.row {
	width: 200px;
}
th  {
	font-size: 24px;
	text-align: center;
}

td {
	font-size: 18px;
}


#removeTask, #editTask, #completeTask {
	padding: auto;
	font-size: 20px;
}

/*table.table-striped tr td.buttons {
	background-color: #fff;
	width: 100px;
	border-top: 0;
	border-bottom: 0;
}

table.table-striped tr th.buttons {
	width: 100px;
	border-top: 0;
	border-bottom: 0;
}*/

.editWindow {
	margin-top: 5px;
}

table {
	margin: 0 auto;
	align-content: center;
}
h1 {
	text-align: center;
	margin: 30px;
	font-family: 'Share Tech', sans-serif;
	font-size: 60px;	
}
tr {
   line-height: 13px;
   min-height: 13px;
   height: 13px;
   border-top: 2px solid #ccc;
   border-bottom: 2px solid #ccc;
}

.innerRow {
	border-top: 0;
}

.upperRow {
	border-bottom: 0;
}